{% extends 'layout.html' %}


    {% block body %}

{% include 'navbar.html' %}



<div class="container mt-5 main w-100">
    <div class="row">
        <div class="col-lg-3">
            <div class="card text-center home-page-profile ">
                <div class="text-center">
                    <img src="{{url_for('static', filename='images/' + current_user.image)}}" class="circle-side-img">
                </div>
               
                <b class="name">{{current_user.username}}</b>
                {% if current_user.bio %}
                <span class="text-muted bio">{{current_user.bio}}</span>
                {% endif %}


                <div class="row mt-3 mb-4">
                    <div class="col-sm-6 " style="border-right: 0.5px solid #ebf1f7;">
                        <div>
                            <b class="name">{{follower_count}}</b>
                        </div>
                  
                        <span class="text-muted bio">Followers</span>
                    </div>
                    <div class="col-sm-6"  style="border-left: 0.5px solid #ebf1f7;">
                        <div>
                            <b class="name">{{following_count}}</b>
                        </div>
                      
                        <span class="text-muted bio">Following</span>
                    </div>
                </div>


                <div class="text-center mb-3">
                    <a href="{{url_for('profile',id=current_user.id)}}" type="button" class="view-profile">View Profile</a>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <h6 class="d-flex search-people mt-3 mb-3">Following Posts</h6>
            <div class="card home-page-post">
                <form action="/create" class="p-3" method="post" enctype="multipart/form-data">
                    <span class="d-flex">
                        <img src="{{url_for('static', filename='images/' + current_user.image)}}" class="circle-img">
                        <input type="text" class="form-control ms-3 input-post" placeholder="What is on your mind?" name="text" id="text">
                    </span>
                  
                    <hr>
                    <div class="d-flex justify-content-between">
                        <input type="file" class="form-control" name="file">
                     
                        <input type="submit" class="btn btn-primary ms-5" value="Post" id="post">
                      
                    </div>
        
                </form>
            </div>
            {% for post in posts %}
            <input style="display: none;" value="{{post.id}}" id="hiddenvalue"/>
            <div class="card home-page-post p-3 mt-3">
                <div class="post-header d-flex justify-content-between">
                        <span>
                            <img src="{{ url_for('static', filename='images/' + post.author.image)}}" class="circle-img ">
                            <span>
                                <a href="{{url_for('profile', id= post.author.id)}}" class="post-owner ms-2">{{post.author.username}}</a>
                                <div style="font-size: 12px;margin-left: 55px; " class="text-muted">                      
                                    {{post.timestamp.strftime('%b %d,%Y %H:%M %p')}}
                                </div>
                            </span>
                        
                        
                        </span>
                       
                        {% if current_user == post.author %}
                        
                        <i class="fas fa-ellipsis-h p-2" style="font-size: 20px;cursor: pointer;" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" ></i>

                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          
                     
                            <li>
                                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Modal{{post.id}}">
                                    <span>
                                        Edit post
                                    </span>
                                </a>
                            </li>
                            <li>
                                <form action="{{url_for('delete_post',id=post.id)}}" method="post">             
                                    <input type="submit" class="dropdown-item" value="Delete post">
                                </form>         
                            </li>
                          
                          </ul>    
                        <!-- Button trigger modal -->

  
                        <!-- Edit post -->
                        <div class="modal fade" id="Modal{{post.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit post</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <span>
                                        <img src="{{ url_for('static', filename='images/' + post.author.image)}}" class="circle-img ">
                                        <span>
                                            <a href="{{url_for('profile', id= post.author.id)}}" class="post-owner ms-2">{{post.author.username}}</a>
                                            <div style="font-size: 12px;margin-left: 60px; " class="text-muted">                      
                                                {{post.timestamp.strftime('%b %d,%Y %H:%M %p')}}
                                            </div>
                                        </span>
                                    
                                    
                                    </span>
                                    <form action="{{url_for('edit_post',id=post.id)}}" method="post" enctype="multipart/form-data" >
                                        <input type="text" class="form-control mt-3 mb-3" name="text" id="text1" value="{{post.text}}">
                                        {% if post.post_image %}
                                        <img src="{{ url_for('static', filename='images/' + post.post_image)}}"  class="img-fluid w-100">
                                        <input type="file" id="files{{post.id}}" class="hidden" name="file"/>
                                        <div id="choose{{post.id}}" class="mt-3">

                                        </div>
                                        <i class="far fa-image" style="cursor: pointer;margin-top: 15px;font-weight: bold;font-size: 25px;"></i>
                                        <label for="files{{post.id}}" style="cursor: pointer;margin-top: 10px;font-weight: bold;"> 
                                            Change image</label>
                                            {% else %}
                                            <input type="file" id="files{{post.id}}" class="hidden" name="file"/>
                                            <div id="choose{{post.id}}">

                                            </div>
                                            <i class="far fa-image" style="cursor: pointer;margin-top: 15px;font-weight: bold;font-size: 25px;"></i>
                                            <label for="files{{post.id}}" style="cursor: pointer;margin-top: 10px;font-weight: bold;"> 
                                                Choose image</label>
                                        {% endif %}
                                        
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="post1">Save changes</button>
                                </div>
                            </form>
                            </div>
                            </div>
                        </div>

                        {% endif %}
                                                

                </div>
                <div class="card-main">
                    {{post.text}}
                </div>
                {% if post.post_image %}
                <div class="pt-3">
                    <img src="{{ url_for('static', filename='images/' + post.post_image)}}"  class="img-fluid w-100">
                </div>
                {% endif %}
                
                <div class="pt-3">
                   
                        <span style="cursor: pointer;" id="like" value="{{post.id}}">
                            <span id="like_main{{post.id}}">
                                {% if current_user in post.liked_users %}
                                <i class="fas fa-heart a" id="likefas{{post.id}}" style="color: #ED4956;"></i>                    
                                <i class="far fa-heart a" style="display: none;" id="likefar{{post.id}}"></i>                    
                                {% else %}
                                <i class="far fa-heart a" id="likefar{{post.id}}"></i>
                                <i class="fas fa-heart a" style="display: none;color: #ED4956;" id="likefas{{post.id}}"></i>
                                {% endif %}
                            </span>
                         
                            
                            
                        </span>
                     


                        <span class="ms-4" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#comment{{post.id}}">
                            <i class="far fa-comment a"></i>
                       
                        </span>
                   
                        

                        <span class="ms-4" id="save" style="cursor: pointer;" value="{{post.id}}">
                            <span id="saved_main{{post.id}}">
                                {% if post in savedposts %}
                                <i class="fas fa-bookmark a" id="fas{{post.id}}"></i>
                                <i class="far fa-bookmark a" id="far{{post.id}}" style="display:none;"></i>
                                {% else %}
                                <i class="far fa-bookmark a" id="far{{post.id}}" ></i>
                                <i class="fas fa-bookmark a" id="fas{{post.id}}" style="display:none"></i>
                                {% endif %}
                            </span>
                            
                    
                        </span>

                        <div data-bs-toggle="modal" data-bs-target="#likeModal{{post.id}}" style="cursor:pointer;">
                            <span class="b" id="count{{post.id}}" value="{{post.count_like}}">{{post.count_like}}</span>
                            {% if post.count_like > 1 %}
                            <span>likes</span> 
                            {% else %}
                            <span>like</span> 
                            {% endif %}
                        </div>
                        <span class="text-muted" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#comment{{post.id}}">
                            {% if post.count_comment > 1  %}
                            View all <span id="c{{post.id}}">{{post.count_comment}} </span> comments
                            {% else %}
                            View all <span id="c{{post.id}}">{{post.count_comment}} </span>  comment
                            {% endif %}
                        </span>
  
                        <!-- Like users -->
                        <div class="modal fade" id="likeModal{{post.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Likes</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                   
                                    {% for i in post.liked_users %}
                                    <div class="mt-3 d-flex justify-content-between">
                                        <span>
                                            <img src="{{ url_for('static', filename='images/' + i.image)}}" class="circle-img">
                                            <a href="{{url_for('profile', id=i.id)}}" class="post-owner ms-2">{{i.username}}</a>
                                        
                                        </span>
                                        <div class="circle-plus">
                                            <a href="{{url_for('profile',id=i.id)}}" class=" btn btn-outline-primary ms-2">View</a>
                                        </div>
                                      
                                       
                                      </div>
                                      <hr>
                                    {% endfor %}
                                </div>
                              
                            </div>
                            </div>
                        </div>



                            <!-- all comments -->

  <!-- commment -->
  <div class="modal fade" id="comment{{post.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
                {% for i in post.commented_users %}
                <div id="new_comment{{post.id}}">

                </div>
                <div class="mb-3 d-flex justify-content-between" id="parent{{i.id}}">
                    <span>
                        <img src="{{ url_for('static', filename='images/' + i.comment_author.image)}}" class="circle-img ">   
                        <span>
                            <a href="{{url_for('profile', id=i.comment_author.id)}}" class="post-owner ms-2">{{i.comment_author.username}}</a>
                            <span>
                                {{i.text}}
                            </span>
                          
                        </span>
                   
                   
                    </span>
                    <span>
                        {% if current_user == i.comment_author %}
                   
                        <i class="fas fa-times" id="remove" value="{{i.id}}" name="{{post.id}}" style="cursor: pointer;" ></i>
                        {% endif %}
                    </span>
                
                  
                </div>
                   
                {% endfor %}
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div>
                 
                 
                     
                       
                     
                 
                </div>

                <div class="pt-3">
                    <span class="d-flex">
                        <img src="{{ url_for('static', filename='images/' + post.author.image)}}" class="circle-comment-img">
                        <div class="input-group mb-3">     
                            <input type="hidden" value="{{post.count_comment}}" id="c{{post.id}}">        
                            <input type="text" id="new{{post.id}}" class="form-control comment ms-2" placeholder="Add a comment..." aria-describedby="button-addon2">
                            <button class="btn btn-primary" type="button" id="button-addon2" value="{{post.id}}">Post</button>
                          </div>

                    </span>
                </div>

            </div>
            {% endfor %}
         
        </div>

        <div class="col-lg-3" >
            <div class="card p-4 home-page-people">
             
                  <h6 class="d-flex people mb-3">People You May know</h6>
          
                {% for i in youmayknow %}
                <div class="you">
                    <span>
                        <img src="{{ url_for('static', filename='images/'+ i.image)}}" class="circle-img">
                        <a href="{{url_for('profile',id=i.id)}}" class="post-owner1 ms-2">{{i.username}}</a>              
                    </span>  
                  </div>
                  <hr>
             
              {% endfor %}

            
          
            

           
           
            </div>
        </div>
    </div>
</div>

{% endblock %}