{% extends 'layout.html' %}


    {% block body %}

    <div class="container p-5">
        <h1 class="login-header">Friends</h1>
        <div class="row mt-3">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-6">
                <div class="card p-3 login-card">
                    <form action="/login" method="post">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" autocomplete="off" >
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" name="password" autocomplete="off">
                        </div>
                        <div class="mb-3 text-center">
                            <a href="" class="forgot">Forgotten account?</a>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Log In</button>
                        <hr>
                       
                      </form>
                      <div class="text-center">
                        <a href="/register" class="w-30 p-2">Create New Account</button>
                    </div>
                   
                </div>
            </div>
            <div class="col-lg-3">
              
            </div>
        </div>
      
    </div>

    {% endblock %}
    